<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BDD -->
      <package
            uri="https://www.transformation-tool-contest.eu/2019/bdd"
            class="ttc2019.metamodels.bdd.BDDPackage"
            genModel="models/BDD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TT -->
      <package
            uri="https://www.transformation-tool-contest.eu/2019/tt"
            class="ttc2019.metamodels.tt.TTPackage"
            genModel="models/TT.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BDDv2 -->
      <package
            uri="https://www.transformation-tool-contest.eu/2019/bdd/graph"
            class="ttc2019.metamodels.bddg.BDDGPackage"
            genModel="models/BDDv2.genmodel"/>
   </extension>

</plugin>
